@model Restaurent.Manager.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Restaurent.Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurent.Manager.styles.css" asp-append-version="true" />
</head>
<body class="login-body">
    <div class="black-screen d-flex">
        <div class="m-auto">
            <div class="login-form">
                <h2 class="text-center">Log in</h2>
                <span class="text-danger d-block text-center">@Html.Raw(ViewData["Error"])</span>
                <div class="pt-3">
                    <form method="post">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" name="email" value="@Model.Email"/>
                        </div>
                        <div class="form-group position-relative">
                            <input class="form-control pwd-i" type="password" name="password" placeholder="Password" style="padding-right: 30px;"/>
                            <img src="~/images/icons/eye.png" class="cursor-pointer position-absolute btn-eye" height="20" style="top: 9px; right: 5px"/>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary px-4 font-weight-bold">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).on('click', '.btn-eye', function (e) {
            e.preventDefault();
            $('.pwd-i').attr('type', 'text');
            $(this).addClass('btn-close-eye').removeClass('btn-eye');
            $(this).attr('src', '/images/icons/u-eye.png');
        }).on('click', '.btn-close-eye', function (e) {
            e.preventDefault();
            $('.pwd-i').attr('type', 'password');
            $(this).addClass('btn-eye').removeClass('btn-close-eye');
            $(this).attr('src', '/images/icons/eye.png');
        })
    </script>
</body>
</html>
