@{
    ViewData["Title"] = "Home Page";
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-9">
            <div class="d-flex h-100">
                <div class="toolbar">
                    <div class="row m-0">
                        <div class="col-sm-3 options active"><span>All table</span></div>
                        <div class="col-sm-3 options"><span>Occupied</span></div>
                        <div class="col-sm-3 options"><span>Vacant</span></div>
                        <div class="col-sm-3 options"><span>Disabled</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <label class="d-block dot-content"><span class="dot green"></span> Vacant</label>
            <label class="d-block dot-content"><span class="dot blue"></span> Order on hold</label>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 pt-3">
            <div class="s-table">
                <a href="@Url.Action("Menu", "Home")" class="cursor-pointer">
                    <div class="p-4 vacant">
                        <div class="d-flex w-100 content">
                            <label class="d-block m-auto text-center">
                                <span>Table name here</span>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 pt-3">
            <div class="s-table">
                <a href="@Url.Action("Bill", "Home", new {id=1})" class="cursor-pointer">
                    <div class="p-4 odered">
                        <div class="d-flex w-100 content">
                            <label class="d-block m-auto text-center">
                                <span>Table name here</span>
                                <br />
                                <span>Order id here</span>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 pt-3">
            <div class="s-table">
                <div class="p-4 disable">
                    <div class="d-flex w-100 content">
                        <label class="d-block m-auto text-center">
                            <span>Table name here</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>